body {
	background-color: rgb(253, 255, 175) !important;
}

.leftDiv1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 50px;
}

.rightDiv1 {
	display: flex;
	width: 60%;
}

.mainDiv1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.title1 {
	display: flex;
	flex-direction: column;
}

.mainTitle1 {
	font-size: 100px;
	line-height: 100px;
}

.subTitle1 {
	font-size: 50px;
	line-height: 50px;
	margin-left: 100px;
}

.loginDiv1 {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.loginLine1 {
	justify-content: space-between;
	display: flex;
	margin-bottom: 25px;
}

.img1 {
	align-self: flex-end;
	height: 30%;
}

.userReviewBottom {
	display: flex;
	justify-content: space-between;
}

.mainDiv2 {
	display: flex;
	flex-direction: column;
}

.topDiv2 {
	display: flex;
	justify-content: space-around;
}

.leftDiv2 {
	display: flex;
	flex-direction: column;
	background-color: gold !important;
	width: 30%;
	margin: 1rem 0 !important;
	padding: 1rem 1em !important;
}

.searchDiv2 {
	display: flex;
	align-self: center;
}

.businessCardDiv2 {
	display: flex;
	border: 1px solid black;
	margin: 20px;
}

.leftPart2 {
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: flex-start;
}

.rightPart2 {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.middleDiv2 {
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: gold !important;
}

.img2 {
	height: 80%;
}

.addressDiv2 {
	display: flex;
	flex-grow: 1;
	margin-top: 10px;
}

.nameDiv2 {
	margin-top: 10px;
	margin-left: 10px;
}

.typeDiv2 {
	margin-left: 15px;
}

.ratingDiv2 {
	display: flex;
}

.recommendedDiv2 {
	text-align: center;
}

.inputSearch2 {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.rightDiv2 {
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: gold !important;
	align-items: center;
	margin-bottom: 14px !important;
}

.userReviewCard {
	display: flex;
	flex-direction: column;
	margin-top: 20px !important;
	background-color: rgb(253, 255, 175) !important;
}

.reviewContent2 {
	background-color: rgba(255, 230, 0, 0.301) !important;
}

.hidden2 {
	display: none !important;
}
